lightning>=2.6.0
torchmetrics>=1.8.2
torchdiffeq>=0.2.5
torch-ema>=0.3
phonemizer
nemo_text_processing
vocos
av
hydra-core
hydra-colorlog
hydra-optuna-sweeper
omegaconf
rich
pytest
tensorboard
librosa
numpy
einops
inflect
scipy
conformer
diffusers
parse
pymcd
fastapi
uvicorn[standard]
pydantic