torch>=2.9.1
torchaudio>=2.9.1
torchcodec>=0.8.1
torchdiffeq>=0.2.5
phonemizer
nemo_text_processing
vocos
av
omegaconf
librosa
numpy
einops
inflect
scipy
conformer
diffusers
parse
fastapi
uvicorn[standard]
pydantic