torch>=2.9.1
torchaudio>=2.9.1
torchvision>=0.24.1
torchcodec>=0.8.1
torchdiffeq>=0.2.5
diffusers
phonemizer
librosa
nemo_text_processing
omegaconf
scipy
tqdm
inflect
huggingface_hub
lameenc
av
numpy
einops
conformer
vocos
bigvgan
parse
fastapi
uvicorn[standard]
pydantic