torch
torchaudio
torchcodec
nvidia-nccl-cu12
nvidia-cudnn-cu12
triton
lightning
torchmetrics
torchdiffeq
torch-ema
phonemizer
nemo_text_processing
vocos
av
hydra-core
hydra-colorlog
hydra-optuna-sweeper
omegaconf
rich
pytest
tensorboard
librosa
numpy
einops
inflect
scipy
conformer
diffusers
parse
setuptools
pymcd
fastapi
uvicorn[standard]
pydantic